/* # -- ELOQUENCE — COMING SOON PAGE
================================================== */


/* Table of Contents
   ==================================================
   
    # -- Imports
    
	# -- Main
	# -- Pages
	# -- Patterns
	# -- Social
	
	# -- Preloader
	# -- Header
	
	# -- Home Page
	# -- Countdown
	
	# -- Content
	# -- About
	# -- Newsletter
	# -- Team
	# -- Twitter
	# -- Services
	
	# -- Footer
	# -- Subscribe
	# -- Feedback
	# -- Contacts
	
   ==================================================
*/


/* # -- IMPORTS
================================================== */

@import url('static/css/reset.css');
@import url('static/css/colors.css');
@import url('https://fonts.googleapis.com/css?family=Quicksand:300|Pontano+Sans');
@import url('https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css');


/* # -- MAIN STYLES
================================================== */

* { 
	outline: 0;
	font: 400 1em 'Pontano Sans', sans-serif;
}

html,
body {
	width: 100%;
	height: 100%;
	background: #FFF;
}

a { 
	text-decoration: none;
	
	-webkit-transition: color 0.2s; 
	   -moz-transition: color 0.2s; 
		 -o-transition: color 0.2s; 
		    transition: color 0.2s;
}

p {
	line-height: 1.4em;
}

h1 { font-size: 30px; }
h2 { font-size: 24px; }
h3 { font-size: 18px; }
h4 { font-size: 14px; }
h5 { font-size: 12px; }
h6 { font-size: 10px; }

.align-left   { text-align: left;   }
.align-right  { text-align: right;  }
.align-center { text-align: center; }

.left  { float: left; }
.right { float: right; }

.icon-1 { font-size: 1em;  }
.icon-2 { font-size: 2em;  }
.icon-3 { font-size: 4em;  }
.icon-4 { font-size: 7em;  }
.icon-5 { font-size: 12em; }
.icon-6 { font-size: 20em; }

.wrapper {
	margin: 0 auto;
	max-width: 1150px;
		width: 100%;
}

input, textarea, button { 
	-webkit-appearance: none;
	   -moz-appearance: none;
	   	 -o-appearance: none;
	   	 	appearance: none;
}

input {
	margin: 0;
	padding: 8px 10px;
	width: auto;
	border: 0;
	-webkit-border-radius: 3px;
			border-radius: 3px;
	font-size: 14px;
}


input,
textarea {
	-webkit-transition: all 0.2s ease; 
       -moz-transition: all 0.2s ease; 
    	 -o-transition: all 0.2s ease; 
    	    transition: all 0.2s ease;
}

input {
	margin: 0;
	padding: 8px 10px;
	width: auto;
	background: transparent;
	border: 1px solid #3A3A47;
	-webkit-border-radius: 0;
			border-radius: 0;
	font-size: 14px;
}

input[type="submit"] {
	padding: 8px 15px;
	width: auto;
	cursor: pointer;
}

input[type="text"]:hover,
input[type="email"]:hover,
input[type="text"]:focus,
input[type="email"]:focus,
textarea:hover,
textarea:focus {
	-webkit-box-shadow: 3px 3px 0 #3A3A47;
			box-shadow: 3px 3px 0 #3A3A47;
}

textarea {
	margin: 0;
	padding: 8px 10px;
	border: 1px solid #3A3A47;
	-webkit-border-radius: 0;
			border-radius: 0;
	font-size: 13px;
	resize: none;
}

input.error,
textarea.error {
	border-color: #E74C3C;
}

form.flat input,
form.flat textarea {
	padding: 10px 15px;
	
	background: #FFF;
	border: 0 !important;
	
	-webkit-border-radius: 3px;
			border-radius: 3px;
	
	-webkit-box-shadow: none !important;
			box-shadow: none !important;
	
	font-family: 'Pontano Sans', sans-serif;
	font-size: 16px;
	vertical-align: top;
	text-transform: none;
}

hr {
	margin: 15px auto;
	max-width: 300px;
		width: 100%;
}

.disable-hover {
	pointer-events: none;
}

.no-uppercase {
	text-transform: none !important;
}


.btn,
a.btn,
input.btn {
	border:1px solid #fff;
	padding: 8px 12px;
	border: 0;
	-webkit-border-radius: 5px;
			border-radius: 5px;
	
	font-family: Quicksand;
	font-size: 12px;

	text-transform: uppercase;
	text-decoration: none !important;
	
	-webkit-transition: all 0.2s; 
	   -moz-transition: all 0.2s; 
		 -o-transition: all 0.2s; 
		    transition: all 0.2s;
}

.btn.big,
a.btn.big,
input.btn.big {
	padding: 12px 16px;
	font-size: 14px;
	letter-spacing: 2px;
}

.btn.large,
a.btn.large,
input.btn.large {
	padding: 24px 40px;
	font-size: 22px;
	letter-spacing: 1px;
}

.btn.no-color.current {
	cursor: default;
}

.btn.no-color.current,
.btn.no-color:hover {
	border: 2px solid rgba(255, 255, 255, 1);
}

/* Fix fonts */
body.fontfix > header a,
body.fontfix #countdown > div .num > div,
body.fontfix #newsletter a,
body.fontfix #team > header > h1,
body.fontfix #team > header > h5,
body.fontfix #subscribe > .wrapper > h4,
body.fontfix #feedback > .wrapper > ul > li > h2,
body.fontfix #contacts > .wrapper > .text > h2,
body.fontfix #home .learn-more a,
body.fontfix #last-section nav a,
body.fontfix #about > .body > .description > li > h1,
body.fontfix #countdown > div span {
	font-family: sans-serif;
	font-weight:  ;
}


/* # -- PAGES
================================================== */

.page {
	position: relative;
	width: 100%;
	z-index: 5;
}

.page.fullscreen {
	min-height: 100%;
}

.page.fullwidth,
.page.fullwidth .wrapper {
	max-width: 100% !important;
}

.page.image {
	height: 400px;
	background: transparent 50% no-repeat;
	display: table;
}

.page.image > .wrapper {
	height: 400px;
	color: #FFF;
	vertical-align: middle;
	display: table-cell;
}

.page.image h1,
.page.image h2,
.page.image h3,
.page.image h4,
.page.image h5,
.page.image h6 {
	font-family: Quicksand;	
}

.page.image h1 {
	font-size: 3em;
	font-weight: bold;
	text-transform: uppercase;
}

.page.image hr {
	margin: 25px auto;
	max-width: 550px;
	border-color: rgba(255, 255, 255, 0.5);
}

.page header {
	margin: 0 auto;
	padding: 25px;
	max-width: 500px;
	width: 100%;
	font-family: Quicksand, sans-serif;
	text-align: center;
	z-index: 6;
}

.page header h1,
.page header h2,
.page header h3,
.page header h4,
.page header h5,
.page header h6 {
	font-family: Quicksand, sans-serif;
	text-transform: uppercase;
}

.page p {
	margin: 1.5em 0;
}


/* # -- PATTERNS
================================================== */

.pattern.dot-1 {
	background: url('static/images/patterns/dot-1.png');
	background-color: rgba(0, 0, 0, .3);
}

.pattern.dot-2 {
	background: transparent url('static/images/patterns/dot-2.png');
	background-color: rgba(0, 0, 0, .3);
	-webkit-background-size: 2px;
	   -moz-background-size: 2px;
	     -o-background-size: 2px;
			background-size: 2px;
}

.pattern.dot-3 {
	background: transparent url('static/images/patterns/dot-3.png');
	background-color: rgba(0, 0, 0, .3);
}

.pattern.line-1 {
	background: transparent url('static/images/patterns/line-1.png');
}

.pattern.line-2 {
	background: transparent url('static/images/patterns/line-2.png');
}

.pattern.gradient-1 {
	background: transparent url('static/images/patterns/gradient-1.png') 50%;
	-webkit-background-size: cover;
	   -moz-background-size: cover;
	     -o-background-size: cover;
			background-size: cover;
}

.pattern.gradient-2 {
	background: transparent url('static/images/patterns/gradient-2.png') 50%;
	-webkit-background-size: cover;
	   -moz-background-size: cover;
	     -o-background-size: cover;
			background-size: cover;
}


/* # -- SOCIAL
================================================== */

ul.social {
	font-size: 0;
	list-style: none;
}

ul.social > li {
	margin: 0 5px;
	font-size: 22px;
	display: inline-block;
}

ul.social > li > a {
	padding: 5px;
}

/* -- icons -- */
ul.social.icons > li > a {
	width: 32px;
	height: 32px;
	-webkit-background-size: 32px;
	   -moz-background-size: 32px;
	     -o-background-size: 32px;
			background-size: 32px;
	display: block;
}

.icon-twitter  	{ background-image: url(static/images/icons/01_twitter.png)	   }
.icon-facebook 	{ background-image: url(static/images/icons/02_facebook.png)   }
.icon-youtube  	{ background-image: url(static/images/icons/03_youtube.png)    }
.icon-dribbble 	{ background-image: url(static/images/icons/04_dribbble.png)   }
.icon-apple 	{ background-image: url(static/images/icons/05_apple.png)      }
.icon-android 	{ background-image: url(static/images/icons/06_android.png)    }
.icon-linkedin 	{ background-image: url(static/images/icons/07_linkedin.png)   }
.icon-behance 	{ background-image: url(static/images/icons/08_behance.png)    }
.icon-vimeo 	{ background-image: url(static/images/icons/09_vimeo.png)      }
.icon-instagram { background-image: url(static/images/icons/10_instagram.png)  }
.icon-wordpress { background-image: url(static/images/icons/11_wordpress.png)  }
.icon-deviantart{ background-image: url(static/images/icons/12_deviantart.png) }
.icon-pinterest { background-image: url(static/images/icons/13_pinterest.png)  }
.icon-google 	{ background-image: url(static/images/icons/14_google.png)     }
.icon-tumblr 	{ background-image: url(static/images/icons/15_tumblr.png)     }
.icon-flickr 	{ background-image: url(static/images/icons/16_flickr.png)     }
.icon-windows8	{ background-image: url(static/images/icons/17_windows8.png)   }
.icon-evernote 	{ background-image: url(static/images/icons/18_evernote.png)   }
.icon-paypal 	{ background-image: url(static/images/icons/19_paypal.png)     }
.icon-sparow 	{ background-image: url(static/images/icons/20_sparow.png)     }
.icon-blogger 	{ background-image: url(static/images/icons/21_blogger.png)    }
.icon-skype 	{ background-image: url(static/images/icons/22_skype.png)      }
.icon-envato 	{ background-image: url(static/images/icons/23_envato.png)     }
.icon-soundcould{ background-image: url(static/images/icons/24_soundcould.png) }


/* # -- PRELOADER
================================================== */

#preloader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1000;
}

#preloader > .half {
	width: 50%;
	height: 100%;
	background: #FFF;
}

#preloader > .wrapper {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -100px;
	margin-left: -140px;
	max-width: 280px;
		width: 100%;
}

#preloader .logo {
	height: 150px;
}

#preloader .logo > img {
	max-height: 100%;
}

#preloader .bar {
	margin-top: 20px;
	height: 1px;
	background: #000;
	background: rgba(0, 0, 0, 0.5);
}

#preloader .percents {
	position: relative;
	top: -10px;
	padding: 0 15px;
	background: #FFF;
	font-family: sans-serif;
	font-weight: 300;
	display: inline-block;
	z-index: 2;
}


/* # -- HEADER
================================================== */

body > header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;
	
	border-bottom: 1px solid #FFF;
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	
	-webkit-transition: background 0.3s; 
	   -moz-transition: background 0.3s; 
		 -o-transition: background 0.3s; 
		    transition: background 0.3s;
		    
	z-index: 100;
}

body > header.dark {
	position: fixed;
	background: #252525;
	background: rgba(38, 38, 38, 0.95);
}

body > header nav ul {
	font-size: 0;
	list-style: none;
}

body > header nav ul > li {
	margin: 0 5px;
	display: inline-block;
}

body > header nav a {
	padding: 5px 10px;
	color: #FFF !important;
	font-family: Quicksand;
	font-size: 12px;
	line-height: 40px;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
		filter: alpha(opacity=50);
		opacity: 0.5;
	-webkit-transition: all 0.2s ease; 
	   -moz-transition: all 0.2s ease; 
		 -o-transition: all 0.2s ease; 
		    transition: all 0.2s ease;
	display: block;
	text-transform: uppercase;
}

body > header nav a.current,
body > header nav a:hover {
	color: #FFF;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
		filter: alpha(opacity=100);
		opacity: 1;
	text-decoration: none;
}

body > header nav a.current {
	cursor: default;
}


/* # -- HOME PAGE
================================================== */

#home {
	background: #FFF;
}

#home .slider {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -1;
}

#home > .content {
	width: 100%;
	height: 100%;
}

#home > .content > .wrapper {
	position: relative;
	top: 15%;
}

#home hr {
	margin: 0 auto;
	max-width: 615px;
		width: 100%;
	border-top: 1px solid rgba(255, 255, 255, 0.3);
}

#logo {
	max-height: 150px;
	color: #FFF;
}

#logo img {
	max-height: 100%;	
}

/* # -- COUNTDOWN
================================================== */

#countdown {
	margin: 50px 0 130px;
	color: #FFF;
	font-size: 0;
}

#cd {
	display: none;
}

#countdown > div {
	position: relative;
	margin: 0 35px;
	display: inline-block;
}

#countdown > div .num {
	height: 100px;
	overflow: hidden;
	vertical-align: top;
	display: inline-block;
}

#countdown > div span {	
	position: absolute;
	left: 0;
	margin-top: 100px;
	padding-top: 20px;
	width: 100%;
	border-top: 1px solid #FFF;
	border-top: 1px solid rgba(255, 255, 255, 0.3);
	color: #FFF;
	color: rgba(255, 255, 255, 0.7);
	font-family: Quicksand;
	font-size: 12px;
	letter-spacing: 2px;
	text-transform: uppercase;
}

#countdown > div .num > div {
	width: 45px;
	height: 100px;
	font-family: Quicksand;
	font-size: 72px;
	line-height: 100px;
}


/* # -- CONTENT
================================================== */

#content {	
	position: relative;
	padding: 75px 0;
	background: #FFF;
	z-index: 5;
}

#content > section {
	position: relative;
	margin: 75px auto;
	max-width: 1150px;
		width: 100%;
	background-color: #FFF;
}

#content > section:first-child {
	margin-top: 0;
}

#content > section:last-child {
	margin-bottom: 0;
}


/* # -- ABOUT
================================================== */

#about .body {
	padding: 25px 0;
}

#about .body .description {
	font-size: 0;
	list-style: none;
	text-align: center;
}

#about .body .description > li {
	padding: 35px 5%;
	min-width: 384.5px;
		width: 80%;
	font-size: 18px;
	text-align: center;
	vertical-align: top;
	display: inline-block;
}

#about .body .description > li h1 {
	margin-bottom: 25px;
	font-family: Quicksand;
	font-size: 26px;
}

#about .body .description > li p {
	color: #7a7d81;
}


/* # -- NEWSLETTER
================================================== */

#newsletter {
	height: 500px;
	background-position-x: 0;
	background-repeat: repeat;
	

}

#newsletter > .wrapper {
	height: 500px;
}

#newsletter a {
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
		filter: alpha(opacity=85);
		opacity: 0.85;
}

#newsletter a:hover {
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
		filter: alpha(opacity=100);
		opacity: 1;
}


/* # -- TEAM
================================================== */

#team {
	max-width: 1200px !important;
}

#team .body {
	margin-top: 55px;
}

#team .body .persons {
	position: relative;
	font-size: 0;
	list-style: none;
	text-align: center;
}

#team .body .persons > li {
	position: relative;
	margin: 20px 25px;
	width: 350px;
	font-size: 16px;
	text-align: left;
	display: inline-block;
	vertical-align: center;
}

#team .body .persons > li .photo {
	position: relative;
	height: 250px;
	background: #55555C;
}

#team .body .persons > li .photo img {
	max-height: 100%;
	
	-webkit-transition: all 0.2s; 
	   -moz-transition: all 0.2s; 
		 -o-transition: all 0.2s; 
		    transition: all 0.2s;
}

#team .body .persons > li .networks {
	position: absolute;
	top: 0;
	width: 350px;
	height: 250px;
	
	border: 0 solid transparent;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 -1px 0 rgba(255, 255, 255, 0.5);
			box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 -1px 0 rgba(255, 255, 255, 0.5);
	
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
		filter: alpha(opacity=0);
		opacity: 0;
		
	-webkit-transition: all 0.3s; 
	   -moz-transition: all 0.3s; 
		 -o-transition: all 0.3s; 
		    transition: all 0.3s;
}

#team .body .persons > li .networks:hover {
	
	border: 15px solid transparent;
	
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
		filter: alpha(opacity=100);
		opacity: 1;
}

#team .body .persons > li .networks .social {
	position: absolute;
	top: 50%;
	margin-top: -18px;
	width: 100%;
	text-align: center;
}

#team .body .persons > li .social a {
	color: #FFF;
	color: rgba(255, 255, 255, 0.8);
	font-size: 26px;
	
	-webkit-transition: all 0.2s; 
	   -moz-transition: all 0.2s; 
		 -o-transition: all 0.2s; 
		    transition: all 0.2s;
}

#team .body .persons > li .social a:hover {
	color: #FFF;
	color: rgba(255, 255, 255, 1);
	text-decoration: none;
}

#team .body .persons > li h2 {
	margin-top: 15px;
}

#team .body .persons > li h5 {
	color: #7a7d81;
}


/* # -- TWITTER
================================================== */

#social {}

.twitter {
	margin: 0 auto;
	padding: 0 15px;
	max-width: 768px;
		width: 100%;
		height: 140px;
	font-size: 18px;
	list-style: none;
	overflow: hidden;
	display: block;
}

.twitter > li {
	padding-top: 20px;
	height: 140px;
}

.twitter > li .text {
	padding: 0 15px;
	width: 768px;
	height: 45px;
	text-align: center;
	vertical-align: middle;
	display: table-cell;
}

.twitter > li .actions {
	margin-top: 15px;
	text-align: center;
}

.twitter > li .actions a {
	margin: 0 10px;
	text-decoration: none;
}

.twitter > li .actions a > span {
	margin-right: 7px;
}

.twitter > li .date {
	margin-top: 10px;
	font-size: 16px;
}


.twitter a:hover {
	text-decoration: underline;
}


/* # -- SERVICES
================================================== */

#services {}

#services .body {
	margin-top: 35px;
}

#services .body > ul {
	font-size: 0;
	list-style: none;
	text-align: center;
}

#services .body > ul > li {
	margin: 20px 25px;
	width: 200px;
	font-size: 16px;
	display: inline-block;
}

#services .body > ul > li .icon {
	margin: 0 auto;
	width: 140px;
	height: 140px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	display: table;
}

#services .body > ul > li .icon > span {
	width: 140px;
	height: 140px;
	font-size: 70px;
	vertical-align: middle;
	display: table-cell;
}

#services .body > ul > li > h2 {
	margin-top: 20px;
	font-size: 18px;
	font-weight: bold;
	letter-spacing: 1px;
	text-transform: uppercase;
}

#services .body > ul > li > p {
	margin: 1em 0;
	color: #7a7d81;
	font-size: 14px;
}

#demo-love:hover .icon > span {	
	-webkit-animation: demolove 1.3s linear infinite;
	   -moz-animation: demolove 1.3s linear infinite;
	     -o-animation: demolove 1.3s linear infinite;
		 	animation: demolove 1.3s linear infinite;
}

@-webkit-keyframes demolove {
	0%   { color: #3A3A47 }
	50%  { color: #C0392B }
	100% { color: #3A3A47 }
}
@-moz-keyframes demolove {
	0%   { color: #3A3A47 }
	50%  { color: #C0392B }
	100% { color: #3A3A47 }
}
@-o-keyframes demolove {
	0%   { color: #3A3A47 }
	50%  { color: #C0392B }
	100% { color: #3A3A47 }
}
@keyframes demolove {
	0%   { color: #3A3A47 }
	50%  { color: #C0392B }
	100% { color: #3A3A47 }
}


/* # -- FOOTER
================================================== */

body > footer {
	position: fixed;
	bottom: 0;
	padding: 75px 0;
	width: 100%;
	height: 550px;
	background-color: #3A3C42;
	overflow: hidden;
	z-index: -1;
}

body > footer > .wrapper {
	position: relative;
}

body > footer section {
	position: absolute !important;
}

#footer-space {
	width: 100%;
	height: 550px;
	background: transparent !important;
}

#last-section {
	margin-bottom: -75px !important;
	padding: 5px 0;
	background-color: #2F3238 !important;
	color: #FFF;
}

#last-section nav {
	opacity: 0.85;
}

#last-section nav > ul {
	font-size: 0;
	list-style: none;
	text-align: center;
}

#last-section nav > ul > li {
	margin: 0 15px;
	font-size: 16px;
	display: inline-block;
}

#last-section .triangle {
	position: absolute;
	margin-top: 15px;
	left: 0;
	width: 30px;
	height: 30px;
	border-top: 30px solid #2F3238;
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
}


/* # -- SUBSCRIBE
================================================== */

#subscribe {
	background:url(static/images/newsletter.jpg) no-repeat;
	width:1200px;
}

#subscribe form {
	position: relative;
	margin: 25px auto;
	padding: 0 20px;
	max-width: 410px;
		width: 100%;
		height: 41px;
	overflow: hidden;
}

#subscribe form input,
#subscribe form .status {
	display: block;
}

#subscribe form .status {
	padding: 10px 0;
	text-align: center;
}

#subscribe form input[type="email"] {
	position: relative;
	width: 100%;
	background: #FFF;
	
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
		filter: alpha(opacity=85);
		opacity: 0.85;
}

#subscribe form input[type="email"]:focus {
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
		filter: alpha(opacity=100);
		opacity: 1;
}

#subscribe form input[type="submit"] {
	position: absolute;
	top: 0;
	right: 20px; /* padding fix */
	
	-webkit-border-radius: 0 3px 3px 0;
			border-radius: 0 3px 3px 0;
}


/* # -- FEEDBACK
================================================== */

#feedback {}

#feedback p {
	color: #7a7d81;
}

#feedback ul {
	font-size: 0;
	list-style: none;
	text-align: center;
}

#feedback ul > li {
	padding: 0 35px;
	width: 40%;
	font-size: 16px;
	vertical-align: top;
	text-align: left;
	display: inline-block;
}

#feedback form > div:last-child {
	text-align: right;
}

#feedback form input,
#feedback form textarea {
	margin: 10px 0;
	width: 100%;
	display: block;
	
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
		filter: alpha(opacity=85);
		opacity: 0.85;
}

#feedback form input:focus,
#feedback form textarea:focus {
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
		filter: alpha(opacity=100);
		opacity: 1;
}

#feedback form textarea {
	height: 150px;
}

#feedback form input[type="submit"] {
	margin: 0;
	margin-left: 20px;
	width: auto;
	
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
		filter: alpha(opacity=100);
		opacity: 1;
	
	vertical-align: middle;
	display: inline;
}

#feedback form .status {
	color: #7a7d81;
	vertical-align: middle;
}


/* # -- CONTACTS
================================================== */

#contacts {
	position: relative;
	padding: 0 100px;
}

#contacts .text {
	position: absolute;
	margin-left: -1px;
	padding: 30px;
	width: 30%;
	height: 100%;
	background: #252525;
	background: rgba(38, 38, 38, 0.95);
	text-align: left;
	overflow: hidden;
	z-index: 3;
}

#contacts .text ul {
	margin: 45px 0;
}

#contacts .text ul > li {
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
		filter: alpha(opacity=70);
		opacity: 0.7;
	-webkit-transition: opacity 0.2s; 
	   -moz-transition: opacity 0.2s; 
		 -o-transition: opacity 0.2s; 
		    transition: opacity 0.2s;
}

#contacts .text ul > li:hover {
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
		filter: alpha(opacity=100);
		opacity: 1;
}

#map {
	width: 100%;
	height: 100%;
	background-image: url(static/images/gmap-layout.jpg);
	background-position: 50% 0;
}

#map .marksys {
	display: none;
}