.massege_content {
    background: #eee;
    border: 0px;
    color: #525050;
    display: inline-block;
    font-style: normal;
    margin: 0px;
    padding: 5px 10px;
    width: 740px;



}

.sender-sub {
    float: left;
    width: 37%;
    margin-right: 2%;
    overflow: hidden;
    font-weight: normal;
}
.dashboardcont_leftbox .custom_message_title .mbody {
    width: 38%;
    float: left;
}

.sender-date {
    float: left;
    width: 20%;
    overflow: hidden;
    font-weight: normal;
}
.dashboardcont_leftbox .custom_message_title .date {
    width: 19%;
    float: left;
}
.dashboardcont_leftbox .custom_message_title .from {
    width: 13%;
    float: left;
}

.dashboardcont_leftbox .custom_message_title {
    width: 100%;
    float: left;
    color: #2c9492;
    font-size: 14px;
    font-weight: bold;
    margin: 10px;
    margin-left: 0px;
}

.dashboardcont_leftbox .custom_message_title {
    width: 100%;
    float: left;
    color: #2c9492;
    font-size: 14px;
    font-weight: bold;

    margin-left: 0px;
    background-color: white;
    padding: 10px 0px;
    margin-bottom: 0px;
    margin: 0px;
    border-bottom: 1px solid #DEDEDE;
}

.dashboardcont_leftbox {
    float: left;
    width: 100%;
    margin-right: 20px;
    position: relative;
    margin-bottom: 0px;
}
/*.detailcustom{*/
    /*background-color: white;*/
    /*height: 130px;*/
    /*padding-left: 20px;*/
    /*width: 700px !important;*/
    /*border: 1px solid #e5e5e5;*/

/*}*/

.bodycustom{
    background-color: red;
    height: auto;

    width: 700px !important;
    /*border: 1px solid #e5e5e5;*/
}
.attachcustom  {
word-wrap: break-word;
    font-size: 12px;
    font-weight: normal;
    line-height: 1.2;
    color: #0096CE !important;
}

/*.attachcontainercustom{*/
    /*margin-top: 20px;*/
    /*border-left: 2px solid #54cbc8;*/
    /*padding-left: 20px;*/
    /*background-color: white;*/
    /*padding-bottom: 20px;*/
    /*width: 684px !important;*/
/*}*/

.msgbodycustm{
    color: #808080;
    margin-top: 10px;
    background-color: white;
    padding: 20px;
    border: 1px solid #e5e5e5;
    width: 680px !important;
    border-bottom: 3px solid #54cbc8;
    border-top: 4px solid #CDF1F0;

}

.attachtable tr{
   background-color: #EAEAEA;
    margin-bottom: 5px;
    border-bottom: 2px solid white;
}



.fullmailcontainer{
    background-color: red;
}

.customreplybutton{
    background-color: #54cbc8;
    color:white !important;
    border-radius: 5px;
    border: 0px !important;
    font-weight: 700 !important;
    width: 70px !important;
    text-align: center;
}

.msgbodynew{
    margin-top: 20px;
    font-size: 12px !important;
    font-weight: normal;
    color: #717171 !important;
}

.detailtofrom{

    background-color:#EAEAEA;
    height: 70px;
    padding: 10px;
    border: 1px solid #e5e5e5;
    margin-left: -20px;
    margin-top: -20px;
    margin-right: -20px;
}
.custombold{
    font-weight: bold !important;
}

.mesg_rply_box_custom {
    border: 1px solid #ccc;
    margin: 0px;
    padding: 10px;
    padding-bottom: 90px;
}

.txtarea_class {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #A6AFAF;
    border-radius: 4px;
    color: #606060;
    display: block;
    height: 80px;
    line-height: 20px;
    padding: 5px;
    width: 97% !important;
    resize:vertical;
    font-family: arial;
    font-size: 13px;
}

.registbt{
    background-color: #54cbc8;
    color:white !important;
    border-radius: 5px;
    border: 0px !important;
    font-weight: 700 !important;
    width: 70px !important;
    text-align: center;
}

.attachbtngroup {
    float: right;
    margin-top: 60px;
    margin-right: 110px;
}

.mesg_rply_box_custom {
    border: 1px solid #ccc;
    margin: 0px;
    padding: 10px;
    padding-bottom: 140px;
}
.doccustom{
    padding: 0px 5px !important;
}
.inboxdropdown{
    margin-bottom: 10px !important;
    width: 117px !important;
    height: 34px !important;
    margin-top: -10px !important;
    margin-left: 129px;
}
