/**
 * onoff.css
 * Author: http://proto.io/freebies/onoff/
 * Author: Timmy Willison
 */

.onoffswitch {
  position: relative;
  width: 70px;
  float:left;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.onoffswitch-checkbox {
  display: none;
}

.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid #999999;
  border-radius: 20px;
}

.onoffswitch-inner {
  width: 200%;
  margin-left: -100%;
  -webkit-transition: margin 0.2s ease-in;
  transition: margin 0.2s ease-in;
}

.onoffswitch-inner:before, .onoffswitch-inner:after {
  float: left;
  padding: 0;
  width: 50%;
  height: 26px;
  color: white;
  font: bold 14px/26px Trebuchet, Arial, sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.onoffswitch-inner:before {
  content: "On";
  padding-left: 10px;
  color: #FFFFFF;
  background-color: #2FCCFF;
}

.onoffswitch-inner:after {
  content: "Off";
  padding-right: 10px;
  color: #999999;
  background-color: #EEEEEE;
  text-align: right;
}

.onoffswitch-switch {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 40px;
  width: 18px;
  margin: 4px;
  background: white;
  border: 2px solid #999999;
  border-radius: 20px;
  -webkit-transition: right 0.2s ease-in, -webkit-box-shadow 0.2s ease-in;
  transition: right 0.2s ease-in, box-shadow 0.2s ease-in;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0;
}


.onoffswitch1 {
  position: relative;
  width: 70px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  float:left;
}

.onoffswitch-checkbox1 {
  display: none;
}

.onoffswitch-label1 {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid #999999;
  border-radius: 20px;
}

.onoffswitch-inner1 {
  width: 200%;
  margin-left: -100%;
  -webkit-transition: margin 0.2s ease-in;
  transition: margin 0.2s ease-in;
}

.onoffswitch-inner1:before, .onoffswitch-inner1:after {
  float: left;
  padding: 0;
  width: 50%;
  height: 26px;
  color: white;
  font: bold 14px/26px Trebuchet, Arial, sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.onoffswitch-inner1:before {
  content: "On";
  padding-left: 10px;
  color: #FFFFFF;
  background-color: #2FCCFF;
}

.onoffswitch-inner1:after {
  content: "Off";
  padding-right: 10px;
  color: #999999;
  background-color: #EEEEEE;
  text-align: right;
}

.onoffswitch-switch1 {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 40px;
  width: 18px;
  margin: 4px;
  background: white;
  border: 2px solid #999999;
  border-radius: 20px;
  -webkit-transition: right 0.2s ease-in, -webkit-box-shadow 0.2s ease-in;
  transition: right 0.2s ease-in, box-shadow 0.2s ease-in;
}

.onoffswitch-checkbox1:checked + .onoffswitch-label1 .onoffswitch-inner1 {
  margin-left: 0;
}

.onoffswitch-checkbox1:checked + .onoffswitch-label1 .onoffswitch-switch1 {
  right: 0;
}

/********************* on off button 3 **************************/

.onoffswitch2 {
  position: relative;
  width: 70px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  float:left;
}

.onoffswitch-checkbox2 {
  display: none;
}

.onoffswitch-label2 {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid #999999;
  border-radius: 20px;
}

.onoffswitch-inner2 {
  width: 200%;
  margin-left: -100%;
  -webkit-transition: margin 0.2s ease-in;
  transition: margin 0.2s ease-in;
}

.onoffswitch-inner2:before, .onoffswitch-inner2:after {
  float: left;
  padding: 0;
  width: 50%;
  height: 26px;
  color: white;
  font: bold 14px/26px Trebuchet, Arial, sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.onoffswitch-inner2:before {
  content: "On";
  padding-left: 10px;
  color: #FFFFFF;
  background-color: #2FCCFF;
}

.onoffswitch-inner2:after {
  content: "Off";
  padding-right: 10px;
  color: #999999;
  background-color: #EEEEEE;
  text-align: right;
}

.onoffswitch-switch2 {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 40px;
  width: 18px;
  margin: 4px;
  background: white;
  border: 2px solid #999999;
  border-radius: 20px;
  -webkit-transition: right 0.2s ease-in, -webkit-box-shadow 0.2s ease-in;
  transition: right 0.2s ease-in, box-shadow 0.2s ease-in;
}

.onoffswitch-checkbox2:checked + .onoffswitch-label2 .onoffswitch-inner2 {
  margin-left: 0;
}

.onoffswitch-checkbox2:checked + .onoffswitch-label2 .onoffswitch-switch2 {
  right: 0;
}

/********************* on off button 4 **************************/

.onoffswitch3 {
  position: relative;
  width: 70px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  float:left;
}

.onoffswitch-checkbox3 {
  display: none;
}

.onoffswitch-label3 {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid #999999;
  border-radius: 20px;
}

.onoffswitch-inner3 {
  width: 200%;
  margin-left: -100%;
  -webkit-transition: margin 0.2s ease-in;
  transition: margin 0.2s ease-in;
}

.onoffswitch-inner3:before, .onoffswitch-inner3:after {
  float: left;
  padding: 0;
  width: 50%;
  height: 26px;
  color: white;
  font: bold 14px/26px Trebuchet, Arial, sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.onoffswitch-inner3:before {
  content: "On";
  padding-left: 10px;
  color: #FFFFFF;
  background-color: #2FCCFF;
}

.onoffswitch-inner3:after {
  content: "Off";
  padding-right: 10px;
  color: #999999;
  background-color: #EEEEEE;
  text-align: right;
}

.onoffswitch-switch3 {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 40px;
  width: 18px;
  margin: 4px;
  background: white;
  border: 2px solid #999999;
  border-radius: 20px;
  -webkit-transition: right 0.2s ease-in, -webkit-box-shadow 0.2s ease-in;
  transition: right 0.2s ease-in, box-shadow 0.2s ease-in;
}

.onoffswitch-checkbox3:checked + .onoffswitch-label3 .onoffswitch-inner3 {
  margin-left: 0;
}

.onoffswitch-checkbox3:checked + .onoffswitch-label3 .onoffswitch-switch3 {
  right: 0;
}

/********************* on off button 5 **************************/

.onoffswitch4 {
  position: relative;
  width: 70px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  float:left;
}

.onoffswitch-checkbox4 {
  display: none;
}

.onoffswitch-label4 {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid #999999;
  border-radius: 20px;
}

.onoffswitch-inner4 {
  width: 200%;
  margin-left: -100%;
  -webkit-transition: margin 0.2s ease-in;
  transition: margin 0.2s ease-in;
}

.onoffswitch-inner4:before, .onoffswitch-inner4:after {
  float: left;
  padding: 0;
  width: 50%;
  height: 26px;
  color: white;
  font: bold 14px/26px Trebuchet, Arial, sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.onoffswitch-inner4:before {
  content: "On";
  padding-left: 10px;
  color: #FFFFFF;
  background-color: #2FCCFF;
}

.onoffswitch-inner4:after {
  content: "Off";
  padding-right: 10px;
  color: #999999;
  background-color: #EEEEEE;
  text-align: right;
}

.onoffswitch-switch4 {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 40px;
  width: 18px;
  margin: 4px;
  background: white;
  border: 2px solid #999999;
  border-radius: 20px;
  -webkit-transition: right 0.2s ease-in, -webkit-box-shadow 0.2s ease-in;
  transition: right 0.2s ease-in, box-shadow 0.2s ease-in;
}

.onoffswitch-checkbox4:checked + .onoffswitch-label4 .onoffswitch-inner4 {
  margin-left: 0;
}

.onoffswitch-checkbox4:checked + .onoffswitch-label4 .onoffswitch-switch4 {
  right: 0;
}


/********************* on off button 6 **************************/

.onoffswitch5 {
  position: relative;
  width: 70px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  float:left;
}

.onoffswitch-checkbox5 {
  display: none;
}

.onoffswitch-label5 {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid #999999;
  border-radius: 20px;
}

.onoffswitch-inner5 {
  width: 200%;
  margin-left: -100%;
  -webkit-transition: margin 0.2s ease-in;
  transition: margin 0.2s ease-in;
}

.onoffswitch-inner5:before, .onoffswitch-inner5:after {
  float: left;
  padding: 0;
  width: 50%;
  height: 26px;
  color: white;
  font: bold 14px/26px Trebuchet, Arial, sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.onoffswitch-inner5:before {
  content: "On";
  padding-left: 10px;
  color: #FFFFFF;
  background-color: #2FCCFF;
}

.onoffswitch-inner5:after {
  content: "Off";
  padding-right: 10px;
  color: #999999;
  background-color: #EEEEEE;
  text-align: right;
}

.onoffswitch-switch5 {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 40px;
  width: 18px;
  margin: 4px;
  background: white;
  border: 2px solid #999999;
  border-radius: 20px;
  -webkit-transition: right 0.2s ease-in, -webkit-box-shadow 0.2s ease-in;
  transition: right 0.2s ease-in, box-shadow 0.2s ease-in;
}

.onoffswitch-checkbox5:checked + .onoffswitch-label5 .onoffswitch-inner5 {
  margin-left: 0;
}

.onoffswitch-checkbox5:checked + .onoffswitch-label5 .onoffswitch-switch5 {
  right: 0;
}

/********************* on off button 7 **************************/

.onoffswitch6 {
  position: relative;
  width: 70px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  float:left;
}

.onoffswitch-checkbox6 {
  display: none;
}

.onoffswitch-label6 {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid #999999;
  border-radius: 20px;
}

.onoffswitch-inner6 {
  width: 200%;
  margin-left: -100%;
  -webkit-transition: margin 0.2s ease-in;
  transition: margin 0.2s ease-in;
}

.onoffswitch-inner6:before, .onoffswitch-inner6:after {
  float: left;
  padding: 0;
  width: 50%;
  height: 26px;
  color: white;
  font: bold 14px/26px Trebuchet, Arial, sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.onoffswitch-inner6:before {
  content: "On";
  padding-left: 10px;
  color: #FFFFFF;
  background-color: #2FCCFF;
}

.onoffswitch-inner6:after {
  content: "Off";
  padding-right: 10px;
  color: #999999;
  background-color: #EEEEEE;
  text-align: right;
}

.onoffswitch-switch6 {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 40px;
  width: 18px;
  margin: 4px;
  background: white;
  border: 2px solid #999999;
  border-radius: 20px;
  -webkit-transition: right 0.2s ease-in, -webkit-box-shadow 0.2s ease-in;
  transition: right 0.2s ease-in, box-shadow 0.2s ease-in;
}

.onoffswitch-checkbox6:checked + .onoffswitch-label6 .onoffswitch-inner6 {
  margin-left: 0;
}

.onoffswitch-checkbox6:checked + .onoffswitch-label6 .onoffswitch-switch6 {
  right: 0;
}


/********************* on off button 8 **************************/

.onoffswitch7 {
  position: relative;
  width: 70px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  float:left;
}

.onoffswitch-checkbox7 {
  display: none;
}

.onoffswitch-label7 {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid #999999;
  border-radius: 20px;
}

.onoffswitch-inner7 {
  width: 200%;
  margin-left: -100%;
  -webkit-transition: margin 0.2s ease-in;
  transition: margin 0.2s ease-in;
}

.onoffswitch-inner7:before, .onoffswitch-inner7:after {
  float: left;
  padding: 0;
  width: 50%;
  height: 26px;
  color: white;
  font: bold 14px/26px Trebuchet, Arial, sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.onoffswitch-inner7:before {
  content: "On";
  padding-left: 10px;
  color: #FFFFFF;
  background-color: #2FCCFF;
}

.onoffswitch-inner7:after {
  content: "Off";
  padding-right: 10px;
  color: #999999;
  background-color: #EEEEEE;
  text-align: right;
}

.onoffswitch-switch7 {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 40px;
  width: 18px;
  margin: 4px;
  background: white;
  border: 2px solid #999999;
  border-radius: 20px;
  -webkit-transition: right 0.2s ease-in, -webkit-box-shadow 0.2s ease-in;
  transition: right 0.2s ease-in, box-shadow 0.2s ease-in;
}

.onoffswitch-checkbox7:checked + .onoffswitch-label7 .onoffswitch-inner7 {
  margin-left: 0;
}

.onoffswitch-checkbox7:checked + .onoffswitch-label7 .onoffswitch-switch7 {
  right: 0;
}