#backgroundPopup { 
	z-index:99999;
	position: fixed;
	display:none;
	height:100%;
	width:100%;
	background:#000000;	
	top:0px;  
	left:0px;
}
#addPopupAddress{ float:left; padding:0px; margin:0px; width:100%;}
#toPopup {
	font-family:Arial, Helvetica, sans-serif;
    background: none repeat scroll 0 0 #FFFFFF;
    border:8px solid #54cbc8;
    border-radius: 5px;
    color: #333333;
    display: none;
	font-size: 14px;
    margin:0 24%;
    position: fixed;
    top: 20%;
    width:50%;
    z-index:99999;
	padding:10px;
	box-shadow:5px 5px 10px 5px #353535;
}
#toPopup2 {
	font-family:Arial, Helvetica, sans-serif;
    background: none repeat scroll 0 0 #FFFFFF;
    border:8px solid #54cbc8;
    border-radius: 5px;
    color:#333333;
    display:none;
	font-size:14px;
    margin:0 24%;
    position:fixed;
    top:20%;
    width:50%;
    z-index:99999;
	padding:10px;
	box-shadow:5px 5px 10px 5px #353535;
}
#addPopup {
	font-family:Arial, Helvetica, sans-serif;
    background: none repeat scroll 0 0 #FFFFFF;
    border:8px solid #54cbc8;
    border-radius: 5px;
    color: #333333;
    display: none;
	font-size: 14px;
    margin:0 24%;
    position: fixed;
    /*top: 20%;*/
	top: 4%;
    width:50%;
    z-index:99999;
	/*padding:10px;*/
	box-shadow:5px 5px 10px 5px #353535;
}
#langPopup {
	font-family:Arial, Helvetica, sans-serif;
    background: none repeat scroll 0 0 #FFFFFF;
    border:8px solid #54cbc8;
    border-radius: 5px;
    color: #333333;
    display: none;
	font-size: 14px;
    margin:0 33%;
    position: fixed;
    top: 20%;
    width:30%;
    z-index:99999;
	padding:10px;
	box-shadow:5px 5px 10px 5px #353535;
}
#plan1Popup {
	font-family:Arial, Helvetica, sans-serif;
    background: none repeat scroll 0 0 #FFFFFF;
    border:8px solid #54cbc8;
    border-radius: 5px;
    color: #333333;
    display: none;
	font-size: 14px;
    margin:0 24%;
    position: fixed;
    top: 20%;
    width:50%;
    z-index:99999;
	padding:10px;
	box-shadow:5px 5px 10px 5px #353535;
}
#plan2Popup {
	font-family:Arial, Helvetica, sans-serif;
    background: none repeat scroll 0 0 #FFFFFF;
    border:8px solid #54cbc8;
    border-radius: 5px;
    color: #333333;
    display: none;
	font-size: 14px;
    margin:0 24%;
    position: fixed;
    top: 20%;
    width:50%;
    z-index:99999;
	padding:10px;
	box-shadow:5px 5px 10px 5px #353535;
}
#plan3Popup {
	font-family:Arial, Helvetica, sans-serif;
    background: none repeat scroll 0 0 #FFFFFF;
    border:8px solid #54cbc8;
    border-radius: 5px;
    color: #333333;
    display: none;
	font-size: 14px;
    margin:0 24%;
    position: fixed;
    top: 20%;
    width:50%;
    z-index:99999;
	padding:10px;
	box-shadow:5px 5px 10px 5px #353535;
}
#plan4Popup {
	font-family:Arial, Helvetica, sans-serif;
    background: none repeat scroll 0 0 #FFFFFF;
    border:8px solid #54cbc8;
    border-radius: 5px;
    color: #333333;
    display: none;
	font-size: 14px;
    margin:0 24%;
    position: fixed;
    top: 20%;
    width:50%;
    z-index:99999;
	padding:10px;
	box-shadow:5px 5px 10px 5px #353535;
}
div.loader {
    background:url(../images/loading.gif) no-repeat scroll 0 0 transparent;
    height: 32px;
    width: 32px;
	display: none;
	z-index: 9999;
	top: 40%;
	left: 50%;
	position: absolute;
	margin-left: -10px;
}
div.close {
    background: url(../images/closebox.png) no-repeat scroll 0 0 transparent;
    bottom: 24px;
    cursor: pointer;
    float: right;
    height: 30px;
    right:-18px;
	top:-22px;
    position:absolute;
    width: 30px;
}
span.ecs_tooltip {
    background: none repeat scroll 0 0 #000000;
    border-radius: 2px 2px 2px 2px;
    color: #FFFFFF;
    display: none;
    font-size: 11px;
    height: 16px;
    opacity: 0.7;
    padding: 4px 3px 2px 5px;
    position: absolute;
    right: -62px;
    text-align: center;
    top: -51px;
    width: 93px;
}
span.arrow {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 7px solid #000000;
    display: block;
    height: 1px;
    left: 40px;
    position: relative;
    top: 3px;
    width: 1px;
}
div#popup_content {
    margin: 4px 7px;
}
.planOfPopup {
	font-family:Arial, Helvetica, sans-serif;
    background: none repeat scroll 0 0 #FFFFFF;
    border:8px solid #54cbc8;
    border-radius: 5px;
    color: #333333;
    display: none;
	font-size: 14px;
    /*margin:0 24%;*/margin:0 0%;
    position: fixed;
    top: 20%;
    width:40%;
    z-index:999999;
	padding:10px;
	box-shadow:5px 5px 10px 5px #353535;
}

#specialityPopup {
	font-family:Arial, Helvetica, sans-serif;
    background: none repeat scroll 0 0 #FFFFFF;
    border:8px solid #54cbc8;
    border-radius: 5px;
    color: #333333;
    display: none;
	font-size: 14px;
    /*margin:0 0%;*/ margin: 0 0 0 -243px;
    position: fixed;
    top: 20%;
    /*width:50%;*/width:35%;
    z-index:999999;
	padding:10px;
	box-shadow:5px 5px 10px 5px #353535;
	float: left;
	right:30%;
}
.specialityPopup_column{
	padding-bottom:20px; /*width: 293px;*/ width:100%; float: left;
}
#conditionPopup {
	font-family:Arial, Helvetica, sans-serif;
    background: none repeat scroll 0 0 #FFFFFF;
    border:8px solid #54cbc8;
    border-radius: 5px;
    color: #333333;
    display: none;
	font-size: 14px;
    margin:0 0%;
    position: fixed;
    top: 20%;
    width:50%;
    z-index:999999;
	padding:10px;
	box-shadow:5px 5px 10px 5px #353535;
}
.total_fld select{    
	background:#FFFFFF;
    border:1px solid #A6AFAF;
    border-radius:4px;
    color:#606060;
    height:32px;
    line-height:32px;
    padding: 5px;
    width:100% !important;
	}
#procedurePopup {
	font-family:Arial, Helvetica, sans-serif;
    background: none repeat scroll 0 0 #FFFFFF;
    border:8px solid #54cbc8;
    border-radius: 5px;
    color: #333333;
    display: none;
	font-size: 14px;
    margin:0 0%;
    position: fixed;
    top: 20%;
    width:50%;
    z-index: 999999;
	padding:10px;
	box-shadow:5px 5px 10px 5px #353535;
}


#videoPopup {
	font-family:Arial, Helvetica, sans-serif;
    background: none repeat scroll 0 0 #FFFFFF;
    border:8px solid #54cbc8;
    border-radius: 5px;
    color: #333333;
    display: none;
	font-size: 14px;
    margin:0 0%;
    position: fixed;
    /*top: 20%;*/
	top: 14%;
    width:50%;
    z-index: 999999;
	padding:10px;
	box-shadow:5px 5px 10px 5px #353535;
}
.add_popup_area{ float:left; width:100%;}
#EditEmailpop {
	font-family:Arial, Helvetica, sans-serif;
    background: none repeat scroll 0 0 #FFFFFF;
    border:8px solid #54cbc8;
    border-radius: 5px;
    color: #333333;
    display: none;
	font-size: 14px;
    margin:0 24%;
    position: fixed;
    top: 20%;
    width:50%;
    z-index: 999999;
	padding:10px;
	box-shadow:5px 5px 10px 5px #353535;
}
#emailpop {
	font-family:Arial, Helvetica, sans-serif;
    background: none repeat scroll 0 0 #FFFFFF;
    border:8px solid #54cbc8;
    border-radius: 5px;
    color: #333333;
    display: none;
	font-size: 14px;
    margin:0 24%;
    position: fixed;
    top: 20%;
    width:50%;
    z-index: 999999;
	padding:10px;
	box-shadow:5px 5px 10px 5px #353535;
}
#editpopup{
	background:url(../images/mobileimage.png) no-repeat;
	position:fixed;
	top:20%;
	width:228px;
	height:421px;
	display:none;
	margin:0 40%;
	z-index: 999999;
}
#remindpop {
	background:url(../images/mobileimage.png) no-repeat;
	position:fixed;
	top:20%;
	width:228px;
	height:421px;
	display: none;
	margin:0 40%;
	z-index: 999999;
}
div.close_sms {
    background: url(../images/closebox.png) no-repeat scroll 0 0 transparent;
    bottom: 24px;
    cursor: pointer;
    float: right;
    height: 30px;
    left:-15px;
	top:33px;
    position: relative;
    width: 30px;
}