@charset "utf-8";
/* CSS Document */

@media (min-width:321px) and (max-width:480px)  { 
html {
    overflow-x: hidden; }
	
.main{ width:100%; max-width:460px; min-width:321px; display:inline-block;}

.nav2_area{margin:0;padding:15px 10px;line-height:20px;font-size:18px;color:#ff8a00;display:block; float:right; margin-right:40%;}
ul.mainmenu_mobile{ display:block; float:right; position:absolute; z-index:99999999; width:100%; top:120px; left:0px;  }
ul.mainmenu_mobile li{ display:block; float:left; width:100%;  min-height:80px; text-align:center;}
ul.mainmenu_mobile li a{ color:#fff; display:block; font-size:24px; font-family:"Gill Sans MT Condensed"; text-transform:uppercase; text-align:center; font-weight:500; }
ul.mainmenu_mobile li a img{ padding-top:10px; }



}