@charset "utf-8";
/* CSS Document */

@media (min-width: 801px) and (max-width:980px)  { 

html {
    overflow-x: hidden; }
	
.main{ width:100%; max-width:980px; min-width:801px;}
.topbar{ width:98%;}
nav span{ margin-right:2%;}
.appoinmrnt_box{ margin-right:4.5%;}
.appoinmrnt_box_last{ width:29%;}
.footer_box1{ width:17%;}
.footer_nav .copyright{ margin-right:2.5%;}


}