@charset "utf-8";
/* CSS Document */

@media (min-width:481px) and (max-width:768px)  { 
html {
    overflow-x: hidden; }
	
.main{ width:100%; max-width:750px; min-width:481px; display:inline-block; margin-left:0.5%;}
.topbar .loginsect{ width:30%; }
.topbar .logo img{ padding-left:1%;}
nav ul{padding-left:1%;}
.searchbg{margin:0 1% 0 1%; }
.searchbg_new{padding: 1.8% 0 1.8% 7%;}
.searchbg h1{ font-size:30px;}
.appoinmrnt_box h1{ font-size:13px;}
.appoinmrnt_box_last h1{ font-size:13px;}
.appoinmrnt_box h1 span{ padding:2px;}
.appoinmrnt_box_last h1 span{ padding:2px;}
.royalSlider{ left:0px !important; width:100% !important;}
.appoinment_section{ margin-left:1%;}
.footersection{margin-left:1%;}
.footer_box1{ width:16%;}
.footer_nav ul{ margin-left:1%;}
.footer_lastbox{ padding-left:1%;}
.footer_nav ul{ margin-left:1% !important; font-size:12px;}
.footer_social{ width:75%;}

#breadcrumb{ margin-left:0.5%;}
.rightarea_dashboard{ width:73%;}
ul.tabs li a{ font-size:12px !important;}
.dashboardcont_leftbox2 ul li span.add{ width:19%;}
.view_detailsColumn{ width:48%;}
.dashboardcont_leftbox2 ul li.heading{ font-size:12px;}
.dashboardcont_leftbox2 ul li span.att{ width:13%;}
.dashboardcont_leftbox2 ul li span.active{ width:15%;}
/*.select_option{ margin-right:20px; width:30%; }
.select_option2{ margin-right:20px; width:30%; }*/
.select_option3{ width:35%; }
.dashboardcont_leftbox2 ul li span.order{ width:8%;}
.dashboardcont_leftbox2 ul li span.active_sch_tim{ width:12%;}
a.registbt_new{ width:10%;}

.remider_check{margin:-20px 0 0 190px;}




}