@charset "utf-8";
/* CSS Document */
@media (min-width:769px) and (max-width:800px)  { 

html {
    overflow-x: hidden; }
	
.main{ width:100%; max-width:790px; min-width:769px; display:inline-block;}
.topbar .loginsect{ width:30%; }
.topbar .logo img{ padding-left:1%;}
nav ul{padding-left:1%;}
.searchbg{margin: 0 2% 0 2%;}
.royalSlider{ left:0px !important; width:100% !important;}
.appoinment_section{ margin-left:1%;}
.footersection{margin-left:1%;}
.footer_box1{ width:16%;}
.footer_social{ width:80%;}
#breadcrumb{ margin-left:0.5%;}
ul.tabs li a{ font-size:12px !important;}
.dashboardcont_leftbox2 ul li.heading{ font-size:12px;}
.dashboardcont_leftbox2 ul li span.add{ width:19%;}
.dashboardcont_leftbox2 ul li span.order{ width:8%;}
.dashboardcont_leftbox2 ul li span.active_sch_tim{ width:13%;}
a.registbt_new{ width:10%;}

.remider_check{margin:-20px 0 0 190px;}

}