/* v1.0.2 */
/* Core RS CSS file. 95% of time you shouldn't change anything here. */
.royalSlider {
	/*width: 90%;*/
	width: 88%;
	height:217px;
	position: relative;
	direction: ltr;
	left:12%;
}

.rsWebkit3d .rsSlide,
.rsWebkit3d .rsContainer,
.rsWebkit3d .rsThumbs,
.rsWebkit3d .rsPreloader,
.rsWebkit3d img,
.rsWebkit3d .rsOverflow,
.rsWebkit3d .rsBtnCenterer,
.rsWebkit3d .rsAbsoluteEl {
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateZ(0); 
}
.rsFade.rsWebkit3d .rsSlide,
.rsFade.rsWebkit3d img,
.rsFade.rsWebkit3d .rsContainer {
	-webkit-transform: none;
}
.rsOverflow {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	float: left;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}

.rsContainer {
	position: relative;
	width: 100%;
	height: 100%;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}

.rsArrow,
.rsThumbsArrow {
	cursor: pointer;
}

.rsThumb {
	float: left;
	position: relative;
}

.rsArrow,
.rsNav,
.rsThumbsArrow {
	opacity: 1;
	-webkit-transition:opacity 0.3s linear;
	-moz-transition:opacity 0.3s linear;
	-o-transition:opacity 0.3s linear;
	transition:opacity 0.3s linear;
}
.rsHidden {
	opacity: 0;
	visibility: hidden;
	-webkit-transition:visibility 0s linear 0.3s,opacity 0.3s linear;
	-moz-transition:visibility 0s linear 0.3s,opacity 0.3s linear;
	-o-transition:visibility 0s linear 0.3s,opacity 0.3s linear;
	transition:visibility 0s linear 0.3s,opacity 0.3s linear;
}


.rsGCaption {
	width: 100%;
	float: left;
	text-align: center;
}

/* Fullscreen options, very important ^^ */
.royalSlider.rsFullscreen {
	position: fixed !important;
	height: auto !important;
	width: auto !important;
	margin: 0 !important;
	padding: 0 !important;
	z-index: 2147483647 !important;
	top: 0 !important;
	left: 0 !important;
	bottom: 0 !important;
	right: 0 !important;
}

.royalSlider .rsSlide.rsFakePreloader {
	opacity: 1 !important;
	-webkit-transition: 0s;
	-moz-transition: 0s;
	-o-transition:  0s;
	transition:  0s;
	display: none;
}

.rsSlide {
	position: absolute;
	left: 0;
	top: 0;
	display: block;
	overflow: hidden;
	
	height: 100%;
	width: 100%;
}

.royalSlider.rsAutoHeight,
.rsAutoHeight .rsSlide {
	height: auto;
}

.rsContent {
	width: 100%;
	height: 100%;
	position: relative;
	visibility: visible;
}

.rsPreloader {
	position:absolute;
	z-index: 0;	
}

.rsNav {
	-moz-user-select: -moz-none;
	-webkit-user-select: none;
	user-select: none;
}
.rsNavItem {
	-webkit-tap-highlight-color:rgba(0,0,0,0.25);
}

.rsThumbs {
	cursor: pointer;
	position: relative;
	overflow: hidden;
	float: left;
	z-index: 22;
}
.rsTabs {
	float: left;
}
.rsTabs,
.rsThumbs {
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}


.rsVideoContainer {
	/*left: 0;
	top: 0;
	position: absolute;*/
	/*width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	float: left;*/
	width: auto;
	height: auto;
	line-height: 0;
	position: relative;
}
.rsVideoFrameHolder {
	position: absolute;
	left: 0;
	top: 0;
	background: #141414;
	opacity: 0;
	-webkit-transition: .3s;
}
.rsVideoFrameHolder.rsVideoActive {
	opacity: 1;
}
.rsVideoContainer iframe,
.rsVideoContainer video,
.rsVideoContainer embed,
.rsVideoContainer .rsVideoObj {
	position: absolute;
	z-index: 0;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
/* ios controls over video bug, shifting video */
.rsVideoContainer.rsIOSVideo iframe,
.rsVideoContainer.rsIOSVideo video,
.rsVideoContainer.rsIOSVideo embed {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-right: 44px;
}

.rsABlock {
	left: 0;	
	position: absolute;
	z-index: 1;
	padding:10px;
	
}
.rsABlock img{ border:2px solid #dce3e3; padding:10px 10px 0px 10px; top:20%;}
.grab-cursor {
	cursor:url(grab.png) 8 8, move; 
}

.grabbing-cursor{ 
	cursor:url(grabbing.png) 8 8, move;
}

.rsNoDrag {
	cursor: auto;
}

.rsLink {
	left:0;
	top:0;
	position:absolute;
	width:100%;
	height:100%;
	display:block;	
	z-index: 20;
	background: url(blank.gif);
	-webkit-backface-visibility: hidden;
}

/************** bubble *****************/

.bubble-content {
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    float: left;
    margin-left: 12px;
    padding:10px;
    position: relative;
    width: 550px;
	left:130px;
	top:30px;
}
.bubble-content p{ display:block; font-size:14px; color:#414141; padding:0px 8px 0px 8px; height:auto; text-align:center; line-height:18px;}
.point {
    border-bottom: 10px solid rgba(0, 0, 0, 0);
	
    border-right: 12px solid #FFFFFF;
    border-top: 10px solid rgba(0, 0, 0, 0);
    left: -10px;
    position: absolute;
    top: 12px;
}



  /* Silder */
img.imgheadline
{
    position:relative;
    left:44px;
    top: 60px;
}

#divimgguy1
{
    position: relative;
    top: 122px;
    cursor:pointer;
}

#divimgguy2
{
    position: relative;
    top: 108px;
    left: 723px;
    cursor:pointer;
}

#divimggirl1
{
    position: relative;
    top: 126px;
    left: 407px;
    cursor:pointer;
}

#divimggirl2
{
    position: relative;
    top: 130px;
    left: 578px;
    cursor:pointer;
}

#divimggirl3
{
    position: relative;
    top: 120px;
    left: 180px;
    cursor:pointer;
}

img.imgguy1big
{
    position: relative;
    top: 10px;
   
}

img.imgguy1text
{
    left: 290px;
    position: relative;
    top: 30px;
}

img.imgguy2big
{
    position: relative;
    top: 10px;
    
}

img.imgguy2text
{
    left: 290px;
    position: relative;
    top: 30px;
}

img.imggirl1big
{
    position: relative;
    top: 10px;
   
}

img.imggirl1text
{
    left: 290px;
    position: relative;
    top: 30px;
}

img.imggirl2big
{
    position: relative;
    top: 10px;
   
}

img.imggirl2text
{
    left: 290px;
    position: relative;
    top: 30px;
}

img.imggirl3big
{
    position: relative;
    top: 10px;
    
}

img.imggirl3text
{
    left: 290px;
    position: relative;
    top: 30px;
}

img.imglogos
{
    left: 350px;
    position: relative;
    top: 160px;
}

img.imgbubble
{
    left: 350px;
    position: relative;
    top: 221px;
}

img.imglogosgirl1
{
    left: 300px;
    position: relative;
    top: 270px;
}

#footer-sildeup
{

    border-top: 1px solid #000;
}




#slider-with-blocks-2.royalSlider 
{
    
}


/***************
*
*  2. Bullets
*
****************/

.rsMinW .rsBullets {
	position: absolute;
	z-index: 35;
	bottom: 10px;
	left:40%;
	width: auto;
	height: auto;
	text-align: left;
	overflow: hidden;
	line-height: 8px;
	cursor:pointer;
}
.rsMinW .rsBullet {
	width: 8px;
	height: 8px;
	display: inline-block;
	margin: 0 5px;
	border-radius: 50%;
	background: #5e5e5e;
	background: rgba(94,94,94,0.6);

	*display:inline; 
	*zoom:1;
}
.rsMinW .rsBullet.rsNavSelected  {
	background: #14cac5;
}


