body {
font-family: Arial, sans-serif;
}

div.tabBox {
width:99.9%;
float:left;
overflow: visible;padding-top: 15px;
}
 
div.tabBox_new {
width:99.9%;
float:left;
overflow: visible;
/*padding-top: 15px;*/
}
 
ul.tabs {
margin: 0;
padding: 0;
float: left;
list-style: none;
height: 32px; 
width:99.9%;
}
 
ul.tabs li {
float: left;
margin: 0;
padding: 0;
height: 32px; 
line-height: 32px; 
margin-bottom: -1px; 
overflow: hidden;
position: relative;
}
 
ul.tabs li a {
display: block;
padding: 0 15px;
outline: none;
background:none;
}
 
.tabContainer {
border-top: none;
overflow: hidden;
clear: both;
float: left;
width:99.9%;
min-height:300px;
margin-bottom:10px;
}
 
.tabContent {
padding:20px 15px;
}
.tabContent_new {
padding:5px;
}
.tabContent_new h3 {
padding:0px;
}
.tabContent h3 {
padding:0px;
}
 
/**** TABS STYLES ****/
 
div.tabBox h3 {
}
 
 
ul.tabs {
border-bottom: 1px solid #ccc;
border-left: 1px solid #ccc;
border-top-left-radius:5px;
-moz-border-top-left-radius:5px;
-webkit-border-top-left-radius:5px;
}
 
ul.tabs li {
 
}
 
ul.tabs li a {
background:#eee;
text-decoration: none;
font-size: 14px;
font-weight:bold;
color: #525050;
outline: none;
border: 1px solid #ccc;
border-left: none;
border-top-left-radius:5px;
-moz-border-top-left-radius:5px;
-webkit-border-top-left-radius:5px;
border-top-right-radius:5px;
-moz-border-top-right-radius:5px;
-webkit-border-top-right-radius:5px;
}
 
ul.tabs li a:hover {
background: #eee;
}
 
ul.tabs li.active {
border-bottom:1px solid #fff;
}
 
ul.tabs li.active a, ul.tabs li.active a:hover  {  
background: #fff;
}
 
div.tabContainer {
border-bottom:1px solid #ccc;
border-left:1px solid #ccc;
border-right:1px solid #ccc;
background:#fff;
}

@media only screen and (max-width: 767px) {

	div.tabBox {
		border: 1px solid #ccc;
	}

	ul.tabs {
	height: auto;
	display: block;
	width:100%;
	border-left:0px;
	}
	
	ul.tabs li {
		width:100%;
	}
	
	ul.tabs li a {
		border-top-left-radius:0px;
		-moz-border-top-left-radius:0px;
		-webkit-border-top-left-radius:0px;
		border-top-right-radius:0px;
		-moz-border-top-right-radius:0px;
		-webkit-border-top-right-radius:0px;	
		border:0px;
	}
	
	div.tabContainer {
		border: 0px;
	}
	
}